<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <context-param>
        <param-name>ServiceName</param-name>
        <param-value>Account Read APP SYSTEM</param-value>
    </context-param>




    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>com.lufax.account.Catalina.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


</web-app>
